:root > * {
  --md-primary-fg-color: #a9471b;
  --md-primary-fg-color--light: #d8782c;
  --md-primary-fg-color--dark: #6f2b14;
  --md-accent-fg-color: #e58a3a;
}

.md-typeset table:not([class]) {
  display: table;
  width: 100%;
}
